@charset "UTF-8";
@font-face {
    font-family: 'fonte-logo';
    src: url(../_fonts/bubblegum-sans-regular.otf);
}
body{
    background-color:#dddddd;
    color: rgba(0, 0, 0, 1);
}

p{
    text-align: justify;
    text-indent: 50px;
}

div#interface{
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto -20px auto;
    padding: 10px;
}

section#corpo{
    display: block;
    width: 515px;
    float: left;
    border-right: 1px solid black ;
    padding-right: 10px;
    margin-left: 5px;
}

aside#lateral{
    display: block;
    width: 350px;
    float: right;
    margin-right:10px ;
}

footer#rodape{
    clear: both;
    border-top: 1px solid black;
}

footer#rodape p{
    text-align: center;
}

table#tabelaspec{
    border: 1px solid black;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec td{
    border: 1px solid #606060;
    padding: 10px;
}

table#tabelaspec td.colunaleft{
    text-align: right;
    color: white;
    background-color: #606060;
}

table#tabelaspec td.colunarigth{
    text-align:left;
    
}

table#tabelaspec caption{
    font-size: 13pt;
    color: #808080;
    font-family: cursive;
}

table#tabelaspec caption span{
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}

article#artigo_1 h2{
    font-size: 12pt;
    color: #808080;
    background-color: #dddddd;
    padding: 5px;
    margin: 5px;
}

section article header#cabecalho-art-1 h1{
    font-family: 'fonte-logo', sans-serif, arial;
    font-size: 20pt;
    color: #808080 ;
}

section article header#cabecalho-art-1 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color:#808080;
    margin-left: 5px;
}
section article header#cabecalho-art-1 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7pt;
    color: black;
    margin-left: 15px;
}

aside#lateral h1{
    font-family: 'fonte-logo', sans-serif, arial;
    color: #808080;
}

aside#lateral h2{
    background-color: #808080;
    color: white;
    padding: 5px;
    font-size: 13pt;
}
/*Formatação o icone oculos*/

header#cabecalho img#icone{
    position: absolute;
    left: 960px;
    top: 50px;
}

/*Foratação do cabeçalho*/

header#cabecalho{
    border-bottom: 1px solid black;
    height: 150px;
    background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 80px;
}

header#cabecalho h1{
    font-family: 'fonte-logo', sans-serif ;
    font-size: 30pt;
    color:#606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    margin-bottom: 0px;
    
}

header#cabecalho h2{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15pt;
    color: #808080;
    margin-top: 0px;
}


/*Formatação de imagens com legendas*/


figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 2s;
}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/*Formatação do Menu*/
nav#menu{
   display: block;
}

nav#menu ol{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 500px;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 0.5px;
    transition: background-color 2s;
}

nav#menu li:hover {
    background-color: #606060;

}

nav#menu h1{
    display: none;
}

nav#menu a {
    color: black;
    text-decoration: none;
}

nav#menu a:hover{
    color: white;
}

video#index_video-01{
    width: 500px;
    height: 300px;
    position: relative;
    margin: 5px;
}

video#index_video-02{
    width: 350px;
    height: 200px;
    position: relative;
    margin-top: -20px;
}