@charset "UTF-8";



section#corpo-specs{
    width: 1000px;
    margin: auto;

}

iframe#frame-specs{
    width: 400px;
    height: 280px;
    border: none;
    
}

iframe#frame-specs::-webkit-scrollbar{
    display: none;

}